### Dossiers à ignorer ###

acpi
adduser.conf
adjtime
alternatives
ansible
apparmor.d
apt
asterisk
at.deny
bash.bashrc
bash_completion
bash_completion.d
bindresvport.blacklist
binfmt.d
ca-certificates
ca-certificates.conf
calendar
console-setup
cron.d
cron.daily
cron.hourly
cron.monthly
crontab
cron.weekly
dbus-1
debconf.conf
debian_version
default
deluser.conf
dhcp
discover.conf.d
discover-modprobe.conf
dkms
dnsroots.global
dpkg
drirc
emacs
email-addresses
environment
fonts
freetds
fstab
gai.conf
GNUstep
groff
group
group-
grub.d
gshadow
gshadow-
gss
gtk-2.0
host.conf
hostname
hosts
hosts.allow
hosts.deny
idmapd.conf
init
init.d
initramfs-tools
inputrc
insserv
insserv.conf
insserv.conf.d
iproute2
iscsi
issue
issue.net
kbd
kernel
kernel-img.conf
kernel-img.conf.17528
ldap
ld.so.cache
ld.so.conf
ld.so.conf.d
libaudit.conf
libnl-3
libpaper.d
locale.alias
locale.gen
localtime
logcheck
login.defs
logrotate.conf
logrotate.d
machine-id
magic
magic.mime
mail
mailcap
mailcap.order
maildroprc
maildroprc.old
mailname
mail.rc
manpath.config
mime.types
mke2fs.conf
modprobe.d
modules
modules-load.d
motd
mtab -> /proc/mounts
Muttrc
Muttrc.d
nanorc
netconfig
network
networks
newt
nsswitch.conf
opt
os-release -> ../usr/lib/os-release
pam.conf
pam.d
papersize
passwd
passwd-
pm
ppp
profile
profile.d
protocols
.pwd.lock
quotagrpadmins
quotatab
radiusclient
rc0.d
rc1.d
rc2.d
rc3.d
rc4.d
rc5.d
rc6.d
rc.local
rcS.d
reportbug.conf
request-key.d
resolv.conf
rkhunter.conf
rmt
rpc
rsyslog.conf
rsyslog.d
sasldb2
securetty
security
selinux
sensors3.conf
sensors.d
service
services
sgml
shadow
shadow-
shells
skel
ssl
staff-group-for-usr-local
subgid
subgid-
subuid
subuid-
sudoers
sudoers.d
sysctl.conf
sysctl.d
systemd
terminfo
texmf
timezone
tinydns
tmpfiles.d
ucf.conf
udev
ufw
updatedb.conf
w3m
warnquota.conf
wgetrc
X11
xdg
xml
